@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&family=Lexend+Deca:wght@300&display=swap');

// palette
$--app-bkg: rgb(10, 12, 28);

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;

  font-family: 'Inter', sans-serif;
}

.app-wrap {
  justify-content: center;
  align-items: center;

  height: 1056px;

  display: flex;

  background-color: $--app-bkg;
}

@media only screen and (min-height: 1056px) {
  .app-wrap {
    height: 100vh;
  }
}

